aiofiles
aiohttp
asyncio
bleach
dnspython
emoji
ffmpeg-python
gpytranslate
gitpython
hachoir
heroku3
lyricsgenius
multicolorcaptcha
motor
numpy
pillow
psutil
pymongo[srv]
pymongo
python-arq
python-telegram-bot==13.12
py-tgcalls
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml==5.3.1
requests
spamwatch
speedtest-cli
spotipy
tswift
ujson
wget
youtube-search
youtube-search-python
git+https://github.com/yt-dlp/yt-dlp
